* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/images/background_image.jpg");
  background-size: cover;
  color: white;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
header {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 5px;
}
.main {
  width: 100%;
  height: auto;
  display: flex;
}
.left-section {
  width: 25%;
  height: 92vh;
  box-shadow: 1px 1px 4px white;
  padding: 10px;
}
.right-section {
  width: 75%;
  height: auto;
  border: 1px solid white;
  padding: 10px;
}
.input-div {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.input-div input {
  display: block;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
}
textarea {
  display: block;
  width: 100%;
  height: 450px;
  margin-top: 5px;
  border-radius: 5px;
  resize: none;
  padding: 5px;
}
.submit-btn {
  padding: 5px;
  background-color: green;
  font-weight: bold;
  color: white;
  box-shadow: 1px 1px 4px white;
}
.tast-template {
  box-shadow: 2px 2px 4px white;
  border-radius: 5px;
  width: 250px;
  height: auto;
  margin: 10px;
}
.title {
  height: auto;
  padding: 5px;
}
.links {
  padding: 3px;
  text-align: end;
}
.links a {
  text-decoration: none;

  color: white;
}
